[user]
    name = Toan Le
    email = info@imtoanle.com

[core]
	excludesfile = ~/.gitignore_global
	editor = code --wait
[pull]
	rebase = true
[fetch]
	prune = true
[diff]
	colorMoved = zebra
[push]
	default = current