[user]
        name = Toan Le
        email = toanledev@gmail.com

[core]
        excludesfile = ~/.gitignore_global
        editor = vim
[pull]
        rebase = true
[fetch]
        prune = true
[diff]
        colorMoved = zebra
[push]
        default = current